<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% block title %}
		<title> --- Titulo --- </title>
	{% endblock title %}
	{% block css %}	{% endblock css %}
	
</head>
<body>
	<header>
		<a href="http://www.google.com"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTmYTBvlcQDa7Hx9MsmT9GcECzKlO1AbFwHuoMZBTAf05CD7WaV" alt=""/></a>
	</header>
    <nav class="menu">MENU 6</nav>
	{% block content %}

	{% endblock content %}
	
	<footer>
      <div class="footer"> footer </div>
    </footer>
	{% block js %}{% endblock js %}
</body>
</html>